@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500;600&display=swap');
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	margin: 0;
	font-family: "Inter Tight", sans-serif;
	font-weight: 500;
	color: #222;
	cursor: default;
	padding: 2rem;
	margin-top: 3rem;
}
a {
	cursor:  pointer !important;
}
::-moz-selection {
	background-color: #222;
	color: #fff;
}
::selection {
	background-color: #222;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
}
h1, h1 *, h2, h2 *, p, p * {
	line-height: 1.6rem;
	font-size: 1.3rem !important;
	font-weight: 500;
	max-width: 768px;
	text-wrap: pretty;
	white-space: pre-line;
}
h1, h2 {
	display: inline;
	text-align: left;
}
strong {
	font-weight: 600 !important;
}
small {
	font-size: 1rem !important;
}
sup {
	font-size: 70% !important;
	position: relative;
	top: 0.1em;
	left: 0.1em;
}
h1 a, h2 a, p a {
	color:#222;
	font-size: inherit;
	text-decoration:none;
	border-bottom: 1.5px solid #222;
	transition: linear padding 100ms;
}
h1 a:hover, h2 a:hover, p a:hover {
	padding-bottom: 1px;
}
img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 2px;
	margin-bottom: 20px;
	max-width: 458px;
}
.flag {
	height: 0.74em;
}
.flag__background {
	fill: #222;
}
.flag__cross {
	stroke: #fff;
}
@media only screen and (max-width: 498px) {
	body {
		margin-top: 0;
	}
	h2 {
		display: block;
	}
	p {
		white-space: normal;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222 !important;
		color: #fff !important;
	}
	h1 a, h2 a, p a {
		color: #fff !important;
		border-color: #fff !important;
	}
	.flag__background {
		fill: #fff;
	}
	.flag__cross {
		stroke: #222;
	}
}